In [124]:
import keys
import pandas as pd
import requests
from pprint import pprint
import json
import numpy as np

In [58]:
df = pd.read_csv('merged.csv')

In [73]:
df.head(5)

,id,name,close_date,stage,address,lat,lng
0,0061a00000GcQdL,525 Water St SW- CMC Mgmt,3/8/18,Contract Sent,525 Water St SW Washington United States Distr...,NaN,NaN
1,0061a00000Mi8dC,Bozzuto - NJ - Park + Garden,6/30/18,Invoice Sent,1450 Garden St Hoboken United States New Jerse...,NaN,NaN
2,0061a00000M4PAU,Greystar- The Cameron,11/17/17,Deal Signed,8710 Cameron Street Silver Spring United State...,NaN,NaN
3,0061a00000MgelJ,JLL- 2035 NW Front Ave,1/31/18,Proposal Sent,2035 Front Ave Portland United States Oregon 9...,NaN,NaN
4,0061a00000KOF8z,International Monetary Fund- Spring Conference,1/31/18,Closed Won,"700 19th St NW Washington, United States Distr...",NaN,NaN

In [80]:
#df2 = df[(df['lat'].isnull()==True) & (df['address'].isnull()==False)]

In [170]:
#(df['lat'].isnull()==True) & 
#key = 'xxx'
key = keys.google
counter = 0
#loop through all records with an address, but no lat/long
for i, row in df[(df['lat'].isnull()==True) & 
                 (df['address'].isnull()==False)
                 #& (df['id']=='0061a00000GcQdL') #for test
                ].iterrows():
    #get the lat and long from google maps api
    address = row.address.replace(' ','+')
    url = 'https://maps.googleapis.com/maps/api/geocode/json?address='+address+'=&key='+key
    response = requests.get(url)
    try:
        data = json.loads(response.text)
        #print(data)
        lat = data['results'][0]['geometry']['location']['lat']
        lng = data['results'][0]['geometry']['location']['lng']
        #add it to the dataframe
        df.loc[df['id'] == row.id, 'lat'] = lat
        df.loc[df['id'] == row.id, 'lng'] = lng
        #print(address,lat,lng)
    except:
        print ('request failure for row', i, data)
    counter +=1
    if counter%10==0:
        print(counter,address,lat,lng)
        #break

request failure for row 57 {'results': [], 'status': 'ZERO_RESULTS'}
request failure for row 166 {'results': [], 'status': 'ZERO_RESULTS'}
request failure for row 370 {'results': [], 'status': 'ZERO_RESULTS'}
request failure for row 403 {'results': [], 'status': 'ZERO_RESULTS'}
request failure for row 494 {'results': [], 'status': 'ZERO_RESULTS'}
request failure for row 594 {'results': [], 'status': 'ZERO_RESULTS'}
request failure for row 692 {'results': [], 'status': 'ZERO_RESULTS'}
10 6425+Penn+Ave.+Pittsburgh+United+States+Pennsylvania+15206 40.4568686 -79.9171461
20 215+S+16th+St.+Philadelphia+United+States+Pennsylvania+19102 39.9490859 -75.1672045
request failure for row 760 {'results': [], 'status': 'ZERO_RESULTS'}
30 1180+West+Peachtree+St.
Ste.+500+Atlanta+United+States+Georgia+30309 33.7869866 -84.3882734
request failure for row 774 {'error_message': 'You have exceeded your daily request quota for this API. We recommend registering for a key at the Google Developers Console: https://console.developers.google.com/apis/credentials?project=_', 'results': [], 'status': 'OVER_QUERY_LIMIT'}
40 3393+Peachtree+Rd.+NE+Atlanta+United+States+Georgia+30326 33.8475719 -84.36195359999999
50 3201+Race+St.+Philadelphia+United+States+Pennsylvania+19104 39.9590419 -75.18767199999999
request failure for row 808 {'error_message': 'You have exceeded your daily request quota for this API. We recommend registering for a key at the Google Developers Console: https://console.developers.google.com/apis/credentials?project=_', 'results': [], 'status': 'OVER_QUERY_LIMIT'}
60 216+E.+45th+St.
Suite+1200+New+York+United+States+New+York+10017 40.7520969 -73.9721553
70 600+Peachtree+St.,+NE+Atlanta+United+States+Georgia+30308 33.7703651 -84.38544189999999
80 11+E.+44th+St.
Suite+1000+New+York+United+States+New+York+10017 40.7545399 -73.97893959999999
90 1150+Sanctuary+Parkway
Suite+145+Alpharetta+United+States+Georgia+30009 34.0489626 -84.3094132
100 1111+Main+St.
Suite+700+Vancouver+United+States+Washington+98660 45.6297923 -122.670815
110 550+Peachtree+St+NE
Atlanta,+GA+30308+Atlanta+United+States+Georgia+30308 33.7688906 -84.3852493
120 1888+Emery+St.+NW+Atlanta+United+States+Georgia+30318 33.8070726 -84.4150097
130 121+Speonk+-+Riverhead+Rd.+Riverhead+United+States+New+York+11901 40.8767575 -72.70031139999999
request failure for row 920 {'results': [], 'status': 'ZERO_RESULTS'}
request failure for row 921 {'error_message': 'You have exceeded your daily request quota for this API. We recommend registering for a key at the Google Developers Console: https://console.developers.google.com/apis/credentials?project=_', 'results': [], 'status': 'OVER_QUERY_LIMIT'}
140 33+Quail+Acres+Ln.+Washington+United+States+Pennsylvania+15301 40.2153724 -80.1969652
request failure for row 924 {'error_message': 'You have exceeded your daily request quota for this API. We recommend registering for a key at the Google Developers Console: https://console.developers.google.com/apis/credentials?project=_', 'results': [], 'status': 'OVER_QUERY_LIMIT'}
request failure for row 933 {'results': [], 'status': 'ZERO_RESULTS'}
150 c/o+Jerrico+Webster
455+14th+St.+NW+Atlanta+United+States+Georgia+30318 40.7491338 -73.98258969999999
request failure for row 934 {'results': [], 'status': 'ZERO_RESULTS'}
160 131+Ponce+De+Leon+Ave.+NE+Atlanta+United+States+Georgia+30308 33.7720022 -84.3828867
request failure for row 953 {'results': [], 'status': 'ZERO_RESULTS'}
170 391+17th+St.+NW+Atlanta+United+States+Georgia+30363 33.7914854 -84.4000398
request failure for row 964 {'results': [], 'status': 'ZERO_RESULTS'}
request failure for row 965 {'results': [], 'status': 'ZERO_RESULTS'}
180 6205-A+Peachtree+Dunwoody+Rd.+NE+Atlanta+United+States+Georgia+30328 33.9246124 -84.350702
190 808+S.+Michigan+Ave.+Chicago+United+States+Illinois+60605 41.8714903 -87.6245734
200 c/o+Duke+Realty+Corporation
Attn:+Accounts+Payable
600+E.+96th+St.
Suite+100+Indianapolis+United+States+Indiana+46240 39.9289431 -86.1469824
210 340+West+85th+Street+New+York+United+States+New+York+10024-3800 40.7886495 -73.9799455
220 33+Yonge+St.,+Suite+1000+Toronto+Canada+Ontario+M5E+1G4 43.6474869 -79.3767104
230 Suite+200,+12420+-+104+Avenue+NW+Edmonton+Canada+Alberta+T5N+3Z9 53.5464764 -113.5370781
240 Suite+200,+12420+-+104+Avenue+NW+Edmonton+Canada+Alberta+T5N+3Z9 53.5464764 -113.5370781
request failure for row 1070 {'results': [], 'status': 'ZERO_RESULTS'}
250 220+Yonge+St,+Suite+110+Box+511+Toronto+Canada+Ontario+M5B2H1 43.64013449999999 -79.4197681
260 4711+Yonge+Street,+Suite+1400+Toronto+Canada+Ontario+M2N+7E4 43.7596903 -79.4099451
270 685+SE+Belmont+St+Portland+United+States+Oregon+97214 45.5165355 -122.6588338
request failure for row 1101 {'error_message': 'You have exceeded your daily request quota for this API. We recommend registering for a key at the Google Developers Console: https://console.developers.google.com/apis/credentials?project=_', 'results': [], 'status': 'OVER_QUERY_LIMIT'}
280 1000+Yonge+Street,+Suite+500+Toronto+Canada+Ontario+M4W+2K2 43.675734 -79.38927389999999
request failure for row 1133 {'error_message': 'You have exceeded your daily request quota for this API. We recommend registering for a key at the Google Developers Console: https://console.developers.google.com/apis/credentials?project=_', 'results': [], 'status': 'OVER_QUERY_LIMIT'}
290 1900+1st+Ave+Seattle+United+States+Washington+98101 47.6106819 -122.3415914
300 345+Spear+Street+San+Francisco+United+States+California+94105 37.7896021 -122.3903697
310 7400+SE+Milwaukie+Ave+Portland+United+States+Oregon+97202 45.4712252 -122.6481935
320 690+Long+Bridge+St.+San+Francisco+United+States+California+94158 37.7728292 -122.3927012
330 500+Terry+A+Francois+Blvd+San+Francisco+United+States+California+94158 37.7704385 -122.3864386
340 651+Brannan+St+San+Francisco+United+States+California+94107 37.775454 -122.399961
350 221+Main+Street
Suite+100+San+Francisco+United+States+California+94105 37.7903878 -122.3922586
360 3500+Deer+Creek+Road+Palo+Alto+United+States+California+94304 37.3947259 -122.1505083
370 1430+NW+Glisan+St.+Portland+United+States+Oregon+97209 45.5261945 -122.685983
380 1030+Castro+St.+Suite+2110+Mountain+View+United+States+California+94040 37.3851128 -122.0845987
390 2301+Glenallan+Ave+Silver+Spring+United+States+Maryland+20906 39.0632894 -77.04767129999999
400 10+Sheridan+Sq+New+York+United+States+New+York+10014 40.7332693 -74.00215109999999
410 Holiday+Inn+National+Airport
2650+Jefferson+Davis+HWY+Arlington+United+States+Virginia+22202 38.849459 -77.053381
420 1401+N+Taft+St+Arlington+United+States+Virginia+22201 38.8897671 -77.08175279999999
430 11850+Freedom+Dr+Reston+United+States+Virginia+20190 38.9589315 -77.35569579999999
440 4610+Fairfax+Dr+Arlington+United+States+Virginia+22203 38.8816516 -77.11747510000001
request failure for row 1344 {'results': [], 'status': 'ZERO_RESULTS'}
450 4925+Greenville+Ave+Dallas+United+States+Texas+75206 32.8472443 -96.7709419
request failure for row 1365 {'results': [], 'status': 'ZERO_RESULTS'}
460 5101+Wisconsin+Ave+NW,+Suite+410+Washington+United+States+District+of+Columbia+20016 38.956285 -77.08302259999999
request failure for row 1383 {'results': [], 'status': 'ZERO_RESULTS'}
470 910+15th+St+NW+Washington+United+States+District+of+Columbia+20005 38.901713 -77.0349427
request failure for row 1391 {'error_message': 'You have exceeded your daily request quota for this API. We recommend registering for a key at the Google Developers Console: https://console.developers.google.com/apis/credentials?project=_', 'results': [], 'status': 'OVER_QUERY_LIMIT'}

In [174]:
#df.head(3000)

In [171]:
#number of uncompleted records
df[(df['lat'].isnull()==True) & (df['address'].isnull()==False)].shape

(25, 7)

In [173]:
#export to csv
df.to_csv('merged.csv',index_label=False)