In [2]:
import keys
import numpy as np
import pandas as pd
import json
import urllib
import requests
import re
import matplotlib.pyplot as plt
import requests
from pandas.io.json import json_normalize
from bs4 import BeautifulSoup
import requests
from pprint import pprint
import json
%matplotlib inline

In [100]:
#df = pd.read_csv('merged.csv', index_col='Unnamed: 0')

In [101]:
df.head()

,id,name,close_date,stage,address
0,0061a00000GcQdL,525 Water St SW- CMC Mgmt,3/8/18,Contract Sent,525 Water St SW Washington United States Distr...
1,0061a00000Mi8dC,Bozzuto - NJ - Park + Garden,6/30/18,Invoice Sent,1450 Garden St Hoboken United States New Jerse...
2,0061a00000M4PAU,Greystar- The Cameron,11/17/17,Deal Signed,8710 Cameron Street Silver Spring United State...
3,0061a00000MgelJ,JLL- 2035 NW Front Ave,1/31/18,Proposal Sent,2035 Front Ave Portland United States Oregon 9...
4,0061a00000KOF8z,International Monetary Fund- Spring Conference,1/31/18,Closed Won,"700 19th St NW Washington, United States Distr..."

In [102]:
base_url = 'https://maps.googleapis.com/maps/api/geocode/json?address='+address+'&key=AIzaSyD2-_nLfVGki38YqGPwoysjiIvJAx0TdNw'
address = '600+California+Street+San%20Francisco+California+94108'

html = requests.get(base_url)
html.text

'{\n   "results" : [\n      {\n         "address_components" : [\n            {\n               "long_name" : "600",\n               "short_name" : "600",\n               "types" : [ "street_number" ]\n            },\n            {\n               "long_name" : "California Street",\n               "short_name" : "California St",\n               "types" : [ "route" ]\n            },\n            {\n               "long_name" : "Financial District",\n               "short_name" : "Financial District",\n               "types" : [ "neighborhood", "political" ]\n            },\n            {\n               "long_name" : "San Francisco",\n               "short_name" : "SF",\n               "types" : [ "locality", "political" ]\n            },\n            {\n               "long_name" : "San Francisco County",\n               "short_name" : "San Francisco County",\n               "types" : [ "administrative_area_level_2", "political" ]\n            },\n            {\n               "long_name" : "California",\n               "short_name" : "CA",\n               "types" : [ "administrative_area_level_1", "political" ]\n            },\n            {\n               "long_name" : "United States",\n               "short_name" : "US",\n               "types" : [ "country", "political" ]\n            },\n            {\n               "long_name" : "94108",\n               "short_name" : "94108",\n               "types" : [ "postal_code" ]\n            }\n         ],\n         "formatted_address" : "600 California St, San Francisco, CA 94108, USA",\n         "geometry" : {\n            "location" : {\n               "lat" : 37.7929216,\n               "lng" : -122.4047371\n            },\n            "location_type" : "ROOFTOP",\n            "viewport" : {\n               "northeast" : {\n                  "lat" : 37.7942705802915,\n                  "lng" : -122.4033881197085\n               },\n               "southwest" : {\n                  "lat" : 37.7915726197085,\n                  "lng" : -122.4060860802915\n               }\n            }\n         },\n         "place_id" : "ChIJmy6rfoyAhYAR_0m0lNkaTY8",\n         "types" : [ "street_address" ]\n      }\n   ],\n   "status" : "OK"\n}\n'

In [95]:
j = json.loads(html.text)
ts = json_normalize(j['results'])

In [103]:
ts.iloc[:,2:4]

   geometry.location.lat  geometry.location.lng
0              37.792922            -122.404737

In [130]:
lat = j['results'][0]['geometry']['location']['lat']
lon = j['results'][0]['geometry']['location']['lng']
print(lat)
print(lon)

37.7929216
-122.4047371

In [177]:
base_url = 'https://maps.googleapis.com/maps/api/geocode/json?address='+address+'&key=AIzaSyD2-_nLfVGki38YqGPwoysjiIvJAx0TdNwj'
address = '600+California+Street+San+Francisco+California+94108'

# results_list=[]
# for row in range(len(df)):    
#     url = base_url +str(cbre['Latitude'][row])+','+str(cbre['Longitude'][row])
#     response = requests.get(url)
#     if response.status_code == 200:
#         results_list.append(response.json())
#         if(row%100 == 0):
#             print(row)
#     else:
#         print('Call failed at request: ', row)
    
# ts_data = pd.DataFrame(results_list)

In [26]:
#key = 'xxx'
key = keys.google
counter = 0
for i, row in screen[(screen['lat'].isnull()==True) &
                (screen['Address'].isnull()==False)].iterrows():
    Address = row.Address.replace(' ','+')
    url = 'https://maps.googleapis.com/maps/api/geocode/json?address='+Address+'=&key='+key
    response = requests.get(url)
    try:
        data = json.loads(response.text)
        lat = data['results'][0]['geometry']['location']['lat']
        lng = data['results'][0]['geometry']['location']['lng']
        screen.loc[screen['Screen Design: Screen Design'] == row['Screen Design: Screen Design'], 'lat'] = lat
        screen.loc[screen['Screen Design: Screen Design'] == row['Screen Design: Screen Design'], 'lng'] = lng
        pd.to_csv('screen geocoded.csv')
    except:
        print ('request failure for row', i, data)
    counter +=1
#     if counter%10==0:
#         print(counter,address,lat,lng)
#        #break

request failure for row 45 {'results': [], 'status': 'ZERO_RESULTS'}
request failure for row 111 {'results': [{'address_components': [{'long_name': '201', 'short_name': '201', 'types': ['subpremise']}, {'long_name': '7250', 'short_name': '7250', 'types': ['street_number']}, {'long_name': 'Rue du Mile End', 'short_name': 'Rue du Mile End', 'types': ['route']}, {'long_name': 'Villeray—Saint-Michel—Parc-Extension', 'short_name': 'Villeray—Saint-Michel—Parc-Extension', 'types': ['political', 'sublocality', 'sublocality_level_1']}, {'long_name': 'Montréal', 'short_name': 'Montréal', 'types': ['locality', 'political']}, {'long_name': 'Communauté-Urbaine-de-Montréal', 'short_name': 'Communauté-Urbaine-de-Montréal', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'Québec', 'short_name': 'QC', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'Canada', 'short_name': 'CA', 'types': ['country', 'political']}, {'long_name': 'H2R 3A4', 'short_name': 'H2R 3A4', 'types': ['postal_code']}], 'formatted_address': '7250 Rue du Mile End #201, Montréal, QC H2R 3A4, Canada', 'geometry': {'location': {'lat': 45.531673, 'lng': -73.622421}, 'location_type': 'ROOFTOP', 'viewport': {'northeast': {'lat': 45.53302198029149, 'lng': -73.6210720197085}, 'southwest': {'lat': 45.5303240197085, 'lng': -73.62376998029151}}}, 'place_id': 'ChIJsf0eP9IZyUwRq4x-E7CRnc0', 'types': ['establishment', 'point_of_interest']}], 'status': 'OK'}
request failure for row 551 {'results': [], 'status': 'ZERO_RESULTS'}
request failure for row 578 {'results': [], 'status': 'ZERO_RESULTS'}
request failure for row 619 {'results': [{'address_components': [{'long_name': '250', 'short_name': '250', 'types': ['street_number']}, {'long_name': 'South Orange Avenue', 'short_name': 'S Orange Ave', 'types': ['route']}, {'long_name': 'Northeast Orlando', 'short_name': 'Northeast Orlando', 'types': ['neighborhood', 'political']}, {'long_name': 'Orlando', 'short_name': 'Orlando', 'types': ['locality', 'political']}, {'long_name': 'Orange County', 'short_name': 'Orange County', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'Florida', 'short_name': 'FL', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'United States', 'short_name': 'US', 'types': ['country', 'political']}, {'long_name': '32801', 'short_name': '32801', 'types': ['postal_code']}], 'formatted_address': '250 S Orange Ave, Orlando, FL 32801, USA', 'geometry': {'location': {'lat': 28.5396209, 'lng': -81.3793537}, 'location_type': 'ROOFTOP', 'viewport': {'northeast': {'lat': 28.54096988029151, 'lng': -81.3780047197085}, 'southwest': {'lat': 28.5382719197085, 'lng': -81.3807026802915}}}, 'partial_match': True, 'place_id': 'ChIJe0g4Bf5654gRf5rfrS4p-HY', 'types': ['street_address']}, {'address_components': [{'long_name': '250', 'short_name': '250', 'types': ['street_number']}, {'long_name': 'South Orange Avenue', 'short_name': 'S Orange Ave', 'types': ['route']}, {'long_name': 'West Side', 'short_name': 'West Side', 'types': ['neighborhood', 'political']}, {'long_name': 'Newark', 'short_name': 'Newark', 'types': ['locality', 'political']}, {'long_name': 'Essex County', 'short_name': 'Essex County', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'New Jersey', 'short_name': 'NJ', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'United States', 'short_name': 'US', 'types': ['country', 'political']}, {'long_name': '07103', 'short_name': '07103', 'types': ['postal_code']}, {'long_name': '2459', 'short_name': '2459', 'types': ['postal_code_suffix']}], 'formatted_address': '250 S Orange Ave, Newark, NJ 07103, USA', 'geometry': {'bounds': {'northeast': {'lat': 40.738963, 'lng': -74.1940004}, 'southwest': {'lat': 40.7387216, 'lng': -74.19420629999999}}, 'location': {'lat': 40.7388736, 'lng': -74.1941318}, 'location_type': 'ROOFTOP', 'viewport': {'northeast': {'lat': 40.7401912802915, 'lng': -74.1927543697085}, 'southwest': {'lat': 40.7374933197085, 'lng': -74.1954523302915}}}, 'partial_match': True, 'place_id': 'ChIJ72dSYWdTwokRfVxwGkTzpmg', 'types': ['premise']}], 'status': 'OK'}
request failure for row 621 {'results': [], 'status': 'ZERO_RESULTS'}

In [ ]:
lead['lat']=''
lead['lng']=''

In [ ]:
lead['lat']=np.nan
lead['lng']=np.nan

In [18]:
lead['address'] = lead['Street']+ ' '+ lead['City'] +' '+ lead['State/Province'] +' '+ lead['Zip/Postal Code'] +' '+ lead['Country']

NameError: name 'lead' is not defined

In [21]:
df2['address'] = df2['Street']+ ' '+ df2['City'] +' '+ df2['State/Province'] +' '+ df2['Zip/Postal Code'] #+' '+ df2['Country']

In [16]:
df2[(df2['lat'].isnull()==True) &
                  (df2['address'].isnull()==False) &
                  (df2['Zip/Postal Code'].isnull()==False)
                 ].head()

,Unnamed: 0,Lead ID,First Name,Last Name,Lead Source,Lead Status,Street,City,State/Province,Zip/Postal Code,Country,lat,lng,address
5,5,00Q1a00000C2kjc,Craig,Shannon,NaN,Contacted,500 Kipling Ave,Montreal,Quebec,M8Z 5E5,Canada,NaN,NaN,500 Kipling Ave Canada Montreal Quebec M8Z 5E5
6,6,00Q1a00000C2kjD,Craig Nisbet,Craig Nisbet,NaN,Contacted,243 Consumers Rd Phoebe Cres,North York,Ontario,M2J 4W8,Canada,NaN,NaN,243 Consumers Rd Phoebe Cres Canada North York...
31,31,00Q1a0000044Iol,Sean,Foley,NaN,Contacted,5255 Yonge Street,Toronto,British Columbia,M2N 6P4,Canada,NaN,NaN,5255 Yonge Street Canada Toronto British Colum...
43,43,00Q1a00000C15e8,John,Aggrey,NaN,Contacted,1250 Connecticut Ave NW,Mountain View,District of Columbia,94043,United States,NaN,NaN,1250 Connecticut Ave NW United States Mountain...
60,60,00Q1a00000LHjdi,Andy,Clay,NaN,Contacted,2415 E Camelback Rd,Denver,Arizona,85016-4288,United States,NaN,NaN,2415 E Camelback Rd United States Denver Arizo...

In [32]:
#key = 'xxx'
key = keys.google
counter = 0
for i, row in df2[(df2['lat'].isnull()==True) &
                  (df2['address'].isnull()==False) &
                  (df2['Zip/Postal Code'].isnull()==False)
                 ].iterrows():
    address = row.address.replace(' ','+')
    url = 'https://maps.googleapis.com/maps/api/geocode/json?address='+address+'=&key='+key
    #print(url)
    #print(row.address)
    response = requests.get(url)
    try:
        data = json.loads(response.text)
        lat = data['results'][0]['geometry']['location']['lat']
        lng = data['results'][0]['geometry']['location']['lng']
        df2.loc[df2['Lead ID'] == row['Lead ID'], 'lat'] = lat
        df2.loc[df2['Lead ID'] == row['Lead ID'], 'lng'] = lng
    except:
        #print ('request failure for row', i, row['Unnamed: 0'], data, url)
        pass
    counter +=1
    if counter%500==0:
         print(counter,address,lat,lng)
    if counter%500 == 0:
        df2.to_csv('lead geocoded.csv', index=False) 
        #break

500 6406+Ivy+Ln+Ste+700+DC/Bmore+Maryland+20770-1441 41.8847775 -87.6306113
1000 1200,+585+-+8th+Avenue+SW,+Eighth+Avenue+Place+-+West+Calgary+Alberta+T2P+3C5 51.0456561 -114.0727114
1500 8900+Keystone+Xing+Ste+1150+Indianapolis,+IN+Indiana+46240-7667 39.9171029 -86.11116040000002
2000 1+City+Hall+Sq+Boston,+MA+02201+Massachusetts+02201-1001 42.3602752 -71.0579295
2500 11690+Grooms+Rd+Cincinnati+Ohio+45242-1412 39.28193690000001 -84.3675913
3000 174+W+Comstock+Ave+Ste+111+Orlando+Florida+32789-4347 28.5939405 -81.3519298
3500 4+Park+Plz+Ste+700+Newport+Beach+California+92614-2554 33.6782718 -117.8372172
4000 1122+N+La+Salle+Dr+Chicago+Illinois+60610-2602 41.9027435 -87.6332523
4500 355+Lexington+Ave+Fl+11+New+York+New+York+10017-6603 40.7502126 -73.97646019999999
5000 210+Gladstone+Ave+Ottawa+Ontario+K2P+0Y6 45.4141066 -75.68847319999999
5500 1455+East+Putnam+Ave.+2nd+Fl.+Old+Greenwich+Connecticut+06870 41.0463178 -73.57142379999999
6000 2345+Grand+Blvd+Ste+700+Kansas+City+Missouri+64108-2625 39.084917 -94.581113
6500 299+Park+Ave+New+York+New+York+10171-0002 40.756039 -73.9741415
7000 6100+Fairview+Rd.+Ste.+355+Charlotte+North+Carolina+28210 35.149998 -80.8375552

In [33]:
df2.to_csv('lead geocoded.csv', index=False)

In [1]:
print (df2[df2.lat.isnull()==True].shape)
print (df2[df2.lat.isnull()==False].shape)

NameError: name 'df2' is not defined

In [55]:
lead.to_csv('lead geocoded.csv')

In [57]:
lead[(lead['lat'].isnull()) & (lead['lng'].isnull())].shape

(12883, 13)

In [59]:
lead[lead['lat'].isnull()==False].shape

(4180, 13)

In [3]:
df2 = pd.read_csv('lead geocoded.csv')

In [4]:
df2.head()

,Unnamed: 0,Lead ID,First Name,Last Name,Lead Source,Lead Status,Street,City,State/Province,Zip/Postal Code,Country,lat,lng,address
0,0,00Q1a00000Lqb3V,Audrey,McStraw,NaN,Contacted,1st Floor,Belfast County Antrim,NaN,NaN,United States,NaN,NaN,NaN
1,1,00Q1a00000Lqb3W,Roscoe,Chubb,NaN,Contacted,Embassy House Queens Avenue,Bristol Avon,NaN,NaN,United States,NaN,NaN,NaN
2,2,00Q1a00000Lqb3X,Robert,Grant,NaN,Contacted,Wemyss House 8 Wemyss Place,Edinburgh Midlothian,NaN,NaN,United States,NaN,NaN,NaN
3,3,00Q1a00000LHtQ2,Paul,Dutko,NaN,Contacted,8601 Georgia Ave Ste 200,Silver Spring,Maryland,20910-3438,United States,38.996533,-77.028155,8601 Georgia Ave Ste 200 United States Silver ...
4,4,00Q1a00000I1an7,Dermot,Sweeny,NaN,Contacted,468 Wellington St W,Toronto,Ontario,M5V 1E3,Canada,43.643561,-79.397852,468 Wellington St W Canada Toronto Ontario M5V...

In [6]:
df2[df2.lat.isnull()==True].

(12883, 14)